

.img-bckgr {
    min-height: 600px;
    background: white url(/images/about-hero.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    align-content: center;
    }

.img-bckgr p {
    color: white;
    padding-left: 0px;
   }

.instructor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.bio {
    grid-column: 1 / span 8;
}

.bio h2 {
    margin-bottom: 16px;
}

.logos {
    grid-column: 1 / span 8;
    margin: 32px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.logos img {
    padding: 16px 24px;
    align-self: center;
    justify-self: center;
}

.instructor-photo, .quote {
    grid-column: 1 / span 8;
    margin-bottom: 32px;
}

.testimonial-image {
    display: none;
}

.professional-links {
    grid-column: 1 / span 8;
}

.professional-links a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7em;
    color: #E6641F;
    padding-right: 20px;
    display: block;
}

.training-benefits {
    margin: 72px 0px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.intro-benefits {
    grid-column: 1 / span 8;
}

.checkbox-benefits {
    margin-top: 32px;
    margin-bottom: 16px;
    grid-column: 1 / span 8;
}

.benefit p {
    margin: 8px 0px 24px 0px;
}

.benefit h5 {
    margin-bottom: 0px;
}

.benefit input {
    margin: 5px 12px 0px 0px;
    border: 1px solid #1D2F48;
}

.cta-benefits {
    margin: 32px 0px 72px 0px;
    grid-column: 1 / span 8;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cta-benefits h3 {
    flex-grow: 50;
}

.cta-benefits a {
    flex-grow: 0;
    align-self: flex-end;
    justify-self: flex-start;
}

.case-studies {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.case-studies h2 {
    grid-column: 1 / span 8;
}

.case-study-card {
    margin-top: 24px;
    grid-column: 1 / span 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case-study-card img {
    align-self: self-start;
    margin-bottom: 24px;
}

.case-studies-nav {
    padding-top: 24px;
    grid-column: 1 / span 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
} 

.case-number {
    justify-self: self-end;
    display: flex;
}

.case-studies-nav h5 {
    margin-bottom: 16px;
    align-self: center;
}

.case-studies-nav img {
    display: inline;
    padding-left: 8px;
}

.case-studies-nav p {
    margin: 0px;
    line-height: 3.0em;
}

.case-number p, a {
    display: inline;
}

img.case-study {
    margin: 0px 0px 24px 0px;
    max-width: 800px;
}



/* Media queries */

/* phone*/
@media (min-width: 375px) {
    .case-studies-nav h5 {
        margin-bottom: 0px;
    }
}

/* tablet */
@media (min-width: 776px) {

    .instructor-photo {
        justify-self: center;
        grid-column: 2 / span 6;
    }

    .logos {
        justify-content: space-around;
    }

    .case-studies h2 {
        grid-column: 1 / span 5;
    }

    .case-study-card img {
        width: 50%;
        align-self: self-start;
        margin: 0px;
    }
    
    .case-study-card div {
        width: 45%;
    }

    .case-studies-nav a {
        align-self: center;
    }

}


/* desktop */
@media (min-width: 1024px) {

    .hero a {
        grid-column-start: 1;
    }

    .bio {
        grid-column: 1 / span 4;
    }

    .logos {
        grid-column: 1/ span 4;
        align-self: center;
        justify-content: flex-start;
    }

    .logos img {
        padding: 0px 56px 56px 0px;
    }

    .instructor-photo {
        grid-column: 5 / span 4;
        grid-row: 1 / span 2;
        margin-bottom: 56px;
    }

    .quote {
        grid-row: 3 / span 1;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 24px;
    }

    .quote img {
        display: block;
        grid-column: 1 / span 2;
    }

    .quote div {
        grid-column: 3 / span 6;
    }

    .professional-links {
        grid-column: 1/ span 8;
    }

    .professional-links a {
        display: inline;
    }

    .training-benefits {
        margin: 150px 0px;
    }

    .intro-benefits {
        grid-column: 1 / span 4;
    }

    .checkbox-benefits {
        margin-top: 32px;
        margin-bottom: 16px;
        grid-column: 1 / span 4;
    }

    .cta-benefits {
        grid-column: 6 / span 3;
    }

    .case-studies h2 {
        grid-column: 1 / span 4;
    }

    .case-study-card {
        margin-top: 24px;
        grid-column: 1 / span 8;
    }

    .case-studies-nav {
        padding-top: 0px;
        grid-column: 5 / span 4;
        justify-self: flex-end;
    }

    .case-studies-nav h5 {
        margin: 0px;
        padding-right: 32px;
    }

}
