

.training-format {
    margin: 8px 0px 32px 0px;
}
.included {
    /* display: flex;
    flex-wrap: wrap; */
    padding-top: 24px;
}


.included img{
    max-width: 40px;
    max-height: 40px;
    padding-right: 16px;
}

.item-description {
    margin-top: 0px;
}

.no-included {
    font-size: 32px;
    font-weight: 700;
    padding-right: 8px;
    margin-top: 0px;
} 

.item p, h5 {
    display: inline;
}

.cta-viewer-training {
    margin-top: 56px;
}

.more-training-options {
    margin: 56px 0px;
}

.more-training-options img {
    max-width: 80px;
    max-height: 80px;
}

.more-training-options div {
    padding-bottom: 32px;
}

.strategic-team {
    background-color: #1D2F48;
    padding: 56px 0px;
    margin: 0px 0px 56px 0px;
}

.strategic-team h2 {
    margin-bottom: 56px;
}

.strategic-team h2, label, input {
    color: white;
}

.combined-training h4 {
    color: white;
}

.combined-training {
    padding-bottom: 32px;
}

.combined-training img {
    padding-top: 16px;
}

.calculator h5 {
    color: #E6641F;
}

.calculator label {
    color: white;
}

.calculator input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
    color: white;
    background-color: #1D2F48;
    border: solid 1px #DBDBDB;
}

.q-and-a {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.questions {
    margin-bottom: 72px;
    grid-column: 1 / span 8;
}

.q-a-photo {
    grid-column: 1 / span 8;
}

.questions div {
    margin: 24px 0px;
}

.questions p {
    margin-top: 8px;
}

.usp {
    margin: 32px 0px 100px 0px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.usp-1 {
    grid-column: 1 / span 8;
}

.usp-2 {
    grid-column: 1 / span 8;
}

.usp img {
    padding: 24px 0px;
}



/* Media queries */
@media (min-width: 776px) {

    .usp-1 {
        grid-column: 1 / span 4;
    }
    
    .usp-2 {
        grid-column: 5 / span 4;
    }

    
    .questions {
        grid-column: 1 / span 4;
    }

    .q-a-photo {
        grid-column: 5 / span 4;
    }

    .item-description {
        margin-left: 76px;
    }

    .included img {
       max-width: 60px;
       max-height: 60px;
    }
}

