

.bio {
    display: flex;
    flex-wrap: wrap;
}

.logos {
    margin: 32px 0px;
}

.logos img {
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    flex: 1 1;
}

.instructor-photo {
    width: 100%;
    flex: 1 1;
}

.quote {
    padding: 32px 0px 8px 0px;
}

.professional-links a {
    /* text-decoration: none; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7em;
    color: #E6641F;
    padding-right: 20px;
    display: block;
}

.training-benefits {
    margin: 72px 0px;
}

.checkbox-benefits p strong {
    margin-bottom: 16px;
}

.checkbox-benefits p {
    margin: 8px 0px 24px 0px;
}

.checkbox-benefits h5 {
    margin-bottom: 0px;
}

.checkbox-benefits {
    margin-top: 30px;
}

.cta-benefits {
    margin: 32px 0px 72px 0px;
    display: flex;
    flex-wrap: wrap;
}

.case-studies-carrousel {
    margin-top: 24px;
}

.case-studies-nav {
    margin-top: 24px;
} 

.case-number p, a {
    display: inline;
}

.case-number {
    padding-top: 16px;
}

img.case-study {
    margin: 0px 0px 24px 0px;
    width: 100%;
}
