
/* global, hero */

.page {
    color: #1D2F48;
    max-width: 1200px;
    margin: 0 auto ;
    padding: 0px 32px;
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
    justify-content: center; */
}

.full-width {
    background-color: #1D2F48;
} 

.full-width-case-study {
    background: white url(/images/case-study-wide.jpg);
    background-size: cover;
    background-position: center;
}


body {
    margin: 0;
}

/* header, main {
    margin: 0px 20px;
} */

header {
    padding: 20px 0px;
}

/* main, header {
    grid-column: 1 / span 8 ;
} */

img {
    max-width: 100%;
    max-height: 100%;
}

.hero {
    margin: 56px 0px;  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.hero h1 {
    grid-column: 1/ span 8;
}

.hero p {
    grid-column: 1/ span 8;
}

.hero div {
    grid-column: span 8;
}


/* typography */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2em;
    margin: 0px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2em;
    margin: 0px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2em;
    margin: 0px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0px;
}

p, span {
    font-family: 'Roboto', sans-serif;
    color: #1D2F48;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 16px 0px 0px 0px;
}

blockquote {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0px;
    padding-bottom: 24px;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7em;
    list-style-type: circle;
    padding-left: 0px;
}

label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-bottom: 8px;
    color: #1D2F48;
}


/* buttons */


.contact-btn {
    align-self: flex-start;
    margin-top: 20px;
    order: 2;
    border: solid 2.8px #E6641F;
    padding: 8px 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #E6641F;
}

a.primary-btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #E6641F;
    border-radius: 2px;
    padding: 10px 20px; 
    margin: 24px 8px 0px 0px;
}

a.secondary-btn  {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #E6641F;
    border: solid 2.8px #E6641F;
    padding: 8px 20px; 
    margin: 16px 0px 0px;
}

a.dropdown-btn  {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #E6641F;
    margin: 32px 0px;
}

span.dropdown-btn {
    color: #E6641F;
    font-weight: 700;
    font-size: 21px;
    line-height: 1em;
}



/* header */

nav {
    grid-column: 1 / span 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

ul#main-menu {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* flex-shrink: none; */
    order: 3;
}

ul#main-menu li {
    list-style-type: none;
}

ul#main-menu li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1D2F48;
    text-align: center;
    padding: 0px;
}

#logo {
    order: 1;
}


/* footer */

footer {
    background-color: #1D2F48;
    margin-top: 100px;
    padding: 30px 0px;
    /* grid-column: span 8; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
}

ul#footer-menu {
    padding: 0px;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1 ;
}

ul#footer-menu li {
    list-style-type: none;
}

ul#footer-menu li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

ul#footer-links {
    padding: 0px;
    grid-column: 5 / span 4;
    grid-row: 1 / span 1 ;
}

ul#footer-links li {
    list-style-type: none;
}

ul#footer-links li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.subscribe-newsletter label{
    display: block;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.subscribe-newsletter{
    padding-top: 20px;
    grid-column: 1 / span 8;
    grid-row: 2 / span 1 ;
}

.subscribe-newsletter input {
    font-family:'Roboto', sans-serif;
    padding: 12px 0px;
    background-color: #1D2F48;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: solid 2.8px white;
}
/* 
input#input-mail {
    width: 100%;
    max-width: 400px;
} */

input.footer-btn {
    background-color:#1D2F48;
    font-size: 16px;
    padding: 10px 20px;
    border: solid 2.8px white;
    display: block;
}

/* Media queries */

/* tablet */

@media (min-width: 776px) {

/* typography */

    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 34px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    p, span, li {
        font-size: 20px;
    }

    blockquote {
        font-size: 24px;
    } 


/* tablet all */

    .hero h1, p {
        grid-column: 1 / span 7;
    }

    footer {
        grid-template-rows: 1fr;
    }

    ul#footer-menu {
        grid-column: 1 / span 2;
    }

    ul#footer-links {
        grid-column: 3 / span 2;
    }

    .subscribe-newsletter{
        padding-top: 24px;
        grid-column: 5 / span 4;
        grid-row: 1 / span 1 ;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
    }

    ul#main-menu {
        order: 2;
        width: 55%;
        align-self: center;
        justify-content: center;
        padding: 20px 24px;
    }
    
    .contact-btn {
        order: 3;
        justify-self: flex-end;
        margin: 0px;
        align-self: center;
    }

    ul#main-menu li a {
        text-align: center;
        padding: 0px 24px;
    }

    .logo {
        flex-shrink: 0;
    }
    
}

@media (min-width: 870px) {
    
    .hero h1 {
        grid-column: 1 / span 6;
    }
    
    .hero p {
        grid-column: 1 / span 5;
    }
}



/* desktop */

@media (min-width: 1024px) {
  
    .hero {
        margin: 72px 0px 150px;   
    }

    h1 {
        grid-column: 1 / span 6;
    }
    
    .hero p {
        grid-column: 1 / span 5;
    }

    ul#main-menu {
        padding: 20px 72px;
    }

}

@media (min-width: 1400px) {

    ul#main-menu {
        padding: 20px 100px;
    }

}



