.first-section-image {
    max-width: 100%;
}

.testimonial-image {
    display: none;
}
 
.first-section-image {
    width: 390px;
    height: 290px;
}

input.secondary-btn  {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #E6641F;
    background-color: white;
    border: solid 2.8px #E6641F;
    padding: 8px 20px; 
}

.text-input input {
    font-family:'Roboto', sans-serif;
    padding: 12px 0px;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: solid 3px #1D2F48;
    width: 100%;
}

.case-study {
    margin: 56px 0px;
}

.registration-cta {
    margin: 56px 0px;
}

.intro {
    margin-bottom: 56px;
}