
.home-intro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
    margin-bottom: 72px;
}

.arrow {
    display: none;
}

.intro, 
.first-section-image {
    grid-column: span 8;
}

.intro ul {
    padding-left: 20px;
}

.intro ul li {
    font-weight: 300;
}

.intro {
    margin-bottom: 56px;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
}

.testimonials img {
    display: none;
}

.quotes {
    grid-column: span 8;
}
 
.testimonials-nav {
    padding-top: 24px;
    grid-column: span 8;
    justify-self: flex-end;
    display: flex;
}

.testimonials-nav img {
    display: inline;
    padding-left: 8px;
}

.testimonials-nav p {
    margin: 0px;
    line-height: 2em;
}

input.secondary-btn  {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #E6641F;
    background-color: white;
    border: solid 2.8px #E6641F;
    padding: 8px 20px; 
}

.text-input input {
    font-family:'Roboto', sans-serif;
    padding: 12px 0px;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: solid 2.8px #1D2F48;
    width: 100%;
}

.case-study {
    margin: 56px 0px;
}

.case-study-wide {
    min-height: 400px;
    background: white url(/images/case-study-wide.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 24px;
    align-content: center;
}

.case-study-wide h2 {
    grid-column: 1 / span 8;
    color: white;
}

.case-study-wide div {
    grid-column: 1 / span 8;
}

.registration-cta {
    margin-top: 72px;
}



/* Media queries */

/* tablet */

@media (min-width: 776px) {

    .case-study-wide h2 {
        grid-column: 1 / span 6;
    }
}

/* desktop */

@media (min-width: 1024px) {
    
    .arrow {
        display: block;
        grid-column: 1 / span 2;
    }
    
    .intro {
        grid-column: 3 / span 3;
    }

    .first-section-image {
        grid-column: 6 / span 3;
    }

    .testimonials img {
        display: block;
        grid-column: 1 / span 2;
    }

    .quotes {
        grid-column: 3 / span 6;
    }

    .case-study-wide {
        padding: 56px 0px;
    }

    .case-study-wide h2 {
        grid-column: 1 / span 6;
    }

    .retention {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 24px;
    }

    .mail-me {
        grid-column: 1 / span 4;
    }

    .text-input {
        max-width: 450px;
        margin-top: 24px;
    }

    .registration-cta {
        margin: 0px;
        grid-column: 5 / span 4;
    }
}